.button:hover {
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-color: #555555;
    -fx-border-width: 2px;
    -fx-background-color: #555555;
    -fx-text-fill: white;
}

.button {
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-color: #555555;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: #333333;
}


.input-field {
    -fx-font-size: 15px;
    -fx-text-fill: #333333;

    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;

    -fx-padding: 7px 9px;
    -fx-pref-height: 25px;
}


.input-field:focused {
    -fx-border-color: #555;
    -fx-border-width: 2px;

}

.radio-button {
    -fx-font-size: 20px; 
    -fx-font-family: "American Typewriter";
    -fx-text-fill: #333333;
    -fx-padding: 5px 0;
}

.radio-button .radio {
    -fx-background-color: white;
    -fx-border-color: #cccccc;

    -fx-border-width: 1.5px;
    -fx-border-radius: 50%;
    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #555555; 
    -fx-background-insets: 3px;
    -fx-background-radius: 50%; 
}

.radio-button:hover .radio {
    -fx-border-color: #555555;
}